Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"

fixing bg color
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/colors.less
Labels: user-interface

Updated sanitization to replace hashed value with [REDACTED]
  app/bundles/PluginBundle/EventListener/IntegrationSubscriber.php
  app/bundles/PluginBundle/Helper/oAuthHelper.php
  app/bundles/PluginBundle/Tests/EventListener/IntegrationSubscriberTest.php
  app/bundles/PluginBundle/Tests/Helper/oAuthHelperTest.php
Labels: plugin

MTC-6443 Finalizing ReportSubscriberFunctionalTest for mautic pr
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

checkbox styling
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
Labels: user-interface

dismiss toolbar on ajax call @laurielim
  app/bundles/CoreBundle/Assets/js/1.core.js
Labels: none

Revert "dismiss toolbar on ajax call @laurielim"
  app/bundles/CoreBundle/Assets/js/1.core.js
Labels: none

handling the specific pagination case @laurielim
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
Labels: none

generalise reusable methods from ContactStep.php
  tests/_support/AcceptanceTester.php
  tests/_support/Page/Acceptance/ContactPage.php
  tests/_support/Step/Acceptance/ContactStep.php
  tests/acceptance/ContactManagementCest.php
Labels: none

MTC-6443 Adding focus item with no stats in ReportSubscriberFunctionalTest.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

replace direct call to `AssetService.getAssetsConfig()` with proper `AssetService` initialization
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.js
Labels: none

Update compiled JS file for GrapesJsBuilder
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
Labels: none

add test for editing segments
  tests/_support/Page/Acceptance/SegmentsPage.php
  tests/_support/Step/Acceptance/SegmentStep.php
  tests/acceptance/SegmentManagementCest.php
Labels: none

replace wait with waitForElementVisible after page reload
  tests/acceptance/EmailManagementCest.php
Labels: none

attempt to fix flaky e2e test
  tests/_support/AcceptanceTester.php
  tests/_support/Page/Acceptance/ContactPage.php
  tests/_support/Step/Acceptance/ContactStep.php
  tests/_support/Step/Acceptance/EmailStep.php
  tests/acceptance/ContactManagementCest.php
  tests/acceptance/EmailManagementCest.php
Labels: none

refactor, remove waits, add waitForElement*, notification check
  tests/_support/AcceptanceTester.php
  tests/_support/Step/Acceptance/ContactStep.php
  tests/_support/Step/Acceptance/EmailStep.php
  tests/acceptance/ContactManagementCest.php
  tests/acceptance/EmailManagementCest.php
Labels: none

remove unnecessary seeElement line
  tests/acceptance/ContactManagementCest.php
Labels: none

refactor
  tests/_support/AcceptanceTester.php
  tests/acceptance/ContactManagementCest.php
  tests/acceptance/EmailManagementCest.php
Labels: none

MTC-6443 Removing line which causes problems in ci workflow
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

Bump version to 5.2.0
  app/release_metadata.json
Labels: none

add github workflow to verify e2e tests
  .github/workflows/e2e-tests.yml
Labels: none

Revert "delete transient test"
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

Taking changes from the community
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

Setting UTC timezone as it will fail if you have different timezone in your local config
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

More readable and extendable assertions
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

Execute the event immediately if the "send from" hour has passed
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

Resolving PHPSTAN and flakyness of this test
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

Use entities over mocks to make the test x-debuggable
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
Labels: campaigns

Fixing splitting contacts into different time groups. The timestamp() is always returning UTC. So it didn't really work. The key must be a time format.
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

Updating existing tests to execute earlier now
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/EventSchedulerTest.php
Labels: campaigns

Resolving time issue in the tests
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

fix typos and merge errors
  tests/_support/AcceptanceTester.php
  tests/_support/Page/Acceptance/SegmentsPage.php
  tests/_support/Step/Acceptance/ContactStep.php
Labels: none

STAN fixes
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

It makes more sense to have `getIsScheduled` set to false for events that should execute immediately
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: campaigns

Update to use default release notes, remove file (#10934)
  .github/workflows/release.yml
Labels: none

Fix issue with changelog (#11012)
  .github/workflows/release.yml
Labels: none

Fix issue with access to contact information
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: campaigns, translations

Fix issue with access to contact information
  app/bundles/LeadBundle/Controller/EntityContactsTrait.php
Labels: none

Remove small changes
  .github/workflows/release.yml
Labels: none

Fix phpstan issues
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/LeadBundle/Controller/EntityContactsTrait.php
Labels: email

Revert "add github workflow to verify e2e tests (#14311)"
  .github/workflows/e2e-tests.yml
Labels: none
