Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

JS: fa-toggle
  app/bundles/CoreBundle/Assets/js/10.entity.js
Labels: none

JS: fa-code
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/code_view.js
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/code_view.min.js
Labels: none

some others
  app/bundles/CoreBundle/Resources/views/Helper/builder.html.twig
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/PageBundle/Assets/builder/builder.css
  app/bundles/PageBundle/Assets/builder/builder.less
Labels: email, landing pages, user-interface, user-experience

Updating Symfony to 5.4.47
  app/composer.json
  composer.lock
Labels: none

Chaining purify method to ensure safe rendering of translation keys
  app/bundles/CampaignBundle/Resources/views/SubscribedEvents/Timeline/index.html.twig
  app/bundles/InstallBundle/Resources/views/Install/check.html.twig
  app/bundles/IntegrationsBundle/Resources/views/Config/form.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/_list.html.twig
  app/bundles/ReportBundle/Resources/views/SubscribedEvents/Dashboard/widget.html.twig
Labels: campaigns, installation, integrations, reports, user-experience, widgets

[BC] Remove Froala styles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/froala_editor.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/froala_style.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/char_counter.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/code_view.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/colors.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/draggable.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/emoticons.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/file.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/fullscreen.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/gated_video.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/help.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/image.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/image_manager.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/line_breaker.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/quick_insert.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/special_characters.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/table.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/video.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
Labels: user-interface

Update testUpdateLeadFieldOrderChoiceListAction to use dataProvider
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
Labels: none

fix: [DPMMA-2888] correct change data field type
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
Labels: forms

wip
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
  app/bundles/CoreBundle/Resources/views/Helper/list_quickfilters.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
Labels: assets, campaigns, dynamic content, forms, landing pages, roles, translations, user-experience

Updated report and chart templates to work as expected.
  app/bundles/CoreBundle/Resources/views/Helper/chart.html.twig
  app/bundles/ReportBundle/Resources/views/SubscribedEvents/Dashboard/widget.html.twig
Labels: reports, user-experience, widgets

Corrected changes
  app/bundles/ReportBundle/Resources/views/SubscribedEvents/Dashboard/widget.html.twig
Labels: reports, user-experience, widgets

Reverted Installer check template
  app/bundles/InstallBundle/Resources/views/Install/check.html.twig
Labels: installation, user-experience

Simplifying the syntax
  app/bundles/CoreBundle/Doctrine/AbstractMauticMigration.php
  app/bundles/EmailBundle/Config/services.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Entity/EmailDraft.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Tests/Controller/EmailDraftFunctionalTest.php
  app/bundles/EmailBundle/Tests/Form/Type/EmailTypeTest.php
  app/migrations/Version20201019100000.php
  app/migrations/Version20240611103824.php
  plugins/GrapesJsBuilderBundle/Entity/GrapesJsBuilder.php
  plugins/GrapesJsBuilderBundle/Tests/Unit/EventSubscriber/EmailSubscriberTest.php
Labels: email

Updating the button classes to match the new UI
  app/bundles/EmailBundle/Form/Type/EmailType.php
Labels: email

Adding config option to enable the Email Drafts
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/_config_emailconfig_widget.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: email, translations, user-experience, widgets

Fixing test after the label change
  app/bundles/EmailBundle/Tests/Controller/EmailDraftFunctionalTest.php
Labels: email

Revert "wip"
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
  app/bundles/CoreBundle/Resources/views/Helper/list_quickfilters.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
Labels: assets, campaigns, dynamic content, forms, landing pages, roles, translations, user-experience

Moving quick_filters to search template
  app/bundles/CoreBundle/Resources/views/Helper/list_quickfilters.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-experience

Adding Bootstrap option to remove popover sanitization
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
Labels: none

migrating hardcoded search string to translation for users
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Resources/views/User/list.html.twig
Labels: roles, translations, user-experience

adding filters for: pages
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
Labels: landing pages, user-experience

adding filters for: forms
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
Labels: forms, user-experience

adding filters for: companies
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
Labels: user-experience

adding filters for: contacts
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
Labels: user-experience

adding filters for: segments
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
Labels: user-experience

adding filters for: dynamic content
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
Labels: dynamic content, user-experience

adding filters for: campaigns
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
Labels: campaigns, user-experience

adding filters for: assets
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
Labels: assets, user-experience

adding filters for: monitoring
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
Labels: user-experience

adding filters for: focus
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
Labels: user-experience

adding filters for: webhooks
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
Labels: user-experience, webhooks

adding filters for: role
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
Labels: roles, user-experience

adding filters for: stages
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
Labels: stages, user-experience

adding filters for: SMS
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
Labels: sms, user-experience

adding filters for: reports
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
Labels: reports, user-experience

adding filters for: point trigger
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
Labels: points-scoring, user-experience

adding filters for: point actions
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
Labels: points-scoring, user-experience

adding filters for: web notif
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
Labels: notifications, user-experience

adding filters for: mobile notif
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
Labels: notifications, user-experience

adding filters for: email
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
Labels: email, user-experience

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"
