Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

adding filters for: categories
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
Labels: categories, user-experience

[UI] fix for responsive header
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
Labels: user-experience

wide popovers style for filters
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
Labels: user-interface

general popover styling improvments
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: user-interface

fix for buttons text center vertically
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: user-interface

creating click on close custom behavior for popovers
  app/bundles/CoreBundle/Assets/js/1.core.js
Labels: none

fixing footer buttons wrap for popover
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: user-interface

Switch quick filter title to core
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
Labels: dashboard, translations, user-experience

adding quickfilter headers to group stuff
  app/bundles/CoreBundle/Resources/views/Helper/list_quickfilters.html.twig
Labels: user-experience

fix labels for form filters
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
Labels: forms, user-experience

in progress
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-experience

MTC-6412 Solve problem with row counting in focus item reports
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: none

MTC-6412 Revert changes that accidentially came with the last push
  app/bundles/LeadBundle/Model/LeadModel.php
Labels: none

MTC-6412 Revert changes that accidentially came with the last push
  app/bundles/LeadBundle/Model/LeadModel.php
Labels: none

adding selectable label styles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/labels.less
Labels: user-interface

new quickfilters functionality
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Resources/views/Helper/list_quickfilters.html.twig
Labels: user-experience

improve translations
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations

reordering buttons
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-experience

moving page_actions to list_actions: SMS
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
Labels: sms, user-experience

refactoring dropdown button using button template
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
Labels: user-experience

moving page_actions to list_actions: Form
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
Labels: forms, user-experience

moving page_actions to list_actions: Contact
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/list.html.twig
Labels: user-experience

moving page_actions to list_actions: Asset
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
Labels: assets, user-experience

moving page_actions to list_actions: Campaign
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
Labels: campaigns, user-experience

moving page_actions to list_actions: DWC
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
Labels: dynamic content, user-experience

moving page_actions to list_actions: Email
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
Labels: email, user-experience

moving page_actions to list_actions: Company
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
Labels: user-experience

moving page_actions to list_actions: Segment
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
Labels: user-experience

moving page_actions to list_actions: Mobile notif
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
Labels: notifications, user-experience

moving page_actions to list_actions: Web notif
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
Labels: notifications, user-experience

moving page_actions to list_actions: Page
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
Labels: landing pages, user-experience

moving page_actions to list_actions: Point group
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
Labels: points-scoring, user-experience

moving page_actions to list_actions: point action
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
Labels: points-scoring, user-experience

moving page_actions to list_actions: point trigger
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
Labels: points-scoring, user-experience

moving page_actions to list_actions: focus
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
Labels: user-experience

moving page_actions to list_actions: monitoring
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
Labels: user-experience

moving page_actions to list_actions: twwet
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
Labels: user-experience

moving page_actions to list_actions: custom field
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
Labels: user-experience

moving page_actions to list_actions: report
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
Labels: reports, user-experience

moving page_actions to list_actions: stage
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
Labels: stages, user-experience

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"
