Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

$assetsHelper is never read, only written.
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: landing pages

removing selectors
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
Labels: user-interface

Auto-update GrapesJS generated JS dist files
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
Labels: none

Do not redirect to the custom 404 page. Just show the content
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/PageBundle/Tests/Controller/NotFoundFunctionalTest.php
Labels: landing pages

Use publicly accessible route in the test
  app/bundles/PageBundle/Tests/Controller/NotFoundFunctionalTest.php
Labels: landing pages

Updating controller action path for Symfony 5
  app/bundles/CoreBundle/Controller/CommonController.php
Labels: none

MTC-6191 start implement findings from jan linhard
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: none

Merge pull request #1999 from acquia/MAUT-9959
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
Labels: campaigns

styling for active contacts live button @jos0405
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: user-interface

bug: fix btn group vars were not being saved
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/button-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
Labels: user-interface, user-experience

removing selectors I forgot...
  app/bundles/CoreBundle/Assets/css/app/less/components/button-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: user-interface

e2e
  tests/_support/Page/Acceptance/ContactPage.php
  tests/_support/Page/Acceptance/SegmentsPage.php
  tests/_support/Step/Acceptance/ContactStep.php
Labels: none

[UX] Remove preview feature for UI settings
  app/bundles/UserBundle/Assets/js/user.js
Labels: roles

fix for labels taking width
  app/bundles/CoreBundle/Resources/views/Modal/search_commands.html.twig
  app/bundles/UserBundle/Resources/views/Helper/theme.html.twig
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
Labels: roles, user-experience

Add new themes to git split configurations
  .github/subtree-splitter-config.json
Labels: none

add the GH workflow files to close pull requests on theme repos
  themes/_1-2-1-2-column/.github/workflows/close_pull_requests.yml
  themes/_1-2-1-column/.github/workflows/close_pull_requests.yml
  themes/_1-2-column/.github/workflows/close_pull_requests.yml
  themes/_1-3-1-3-column/.github/workflows/close_pull_requests.yml
  themes/_1-3-column/.github/workflows/close_pull_requests.yml
  themes/_connect-through-content/.github/workflows/close_pull_requests.yml
  themes/_educate/.github/workflows/close_pull_requests.yml
  themes/_gallery/.github/workflows/close_pull_requests.yml
  themes/_make-announcement/.github/workflows/close_pull_requests.yml
  themes/_showcase/.github/workflows/close_pull_requests.yml
  themes/_simple-text/.github/workflows/close_pull_requests.yml
  themes/_survey/.github/workflows/close_pull_requests.yml
  themes/_welcome/.github/workflows/close_pull_requests.yml
Labels: none

Add new themes to the workflow
  .github/workflows/split-monorepo-in-multi-repo.yml
Labels: none

MTC-6443 Starting with ReportSubscriberFunctionalTest.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

Fix incorrect reference to theme-education -> theme-educate
  .github/subtree-splitter-config.json
Labels: none

Add missing git-split json files for new themes
  .github/workflows/gitsplit/theme-1-2-1-2-column.json
  .github/workflows/gitsplit/theme-1-2-1-column.json
  .github/workflows/gitsplit/theme-1-2-column.json
  .github/workflows/gitsplit/theme-1-3-1-3-column.json
  .github/workflows/gitsplit/theme-1-3-column.json
  .github/workflows/gitsplit/theme-connect-through-content.json
  .github/workflows/gitsplit/theme-educate.json
  .github/workflows/gitsplit/theme-gallery.json
  .github/workflows/gitsplit/theme-make-announcement.json
  .github/workflows/gitsplit/theme-showcase.json
  .github/workflows/gitsplit/theme-simple-text
  .github/workflows/gitsplit/theme-survey.json
  .github/workflows/gitsplit/theme-welcome.json
Labels: none

Add Attract and Creative themes for Packagist / subtreesplit
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-attract.json
  .github/workflows/gitsplit/theme-creative.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  themes/attract/.github/workflows/close_pull_requests.yml
  themes/creative/.github/workflows/close_pull_requests.yml
Labels: none

Fix missing filename
  .github/workflows/gitsplit/theme-simple-text.json
Labels: none

MTC-6443 Continuing with ReportSubscriberFunctionalTest.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

trying to switch the quotes
  tests/_support/Step/Acceptance/ContactStep.php
Labels: none

[UX/UI] Better table sorting indicators
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/table.less
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-interface, user-experience

fix phpunit
  app/bundles/CoreBundle/Tests/Traits/ControllerTrait.php
Labels: none

Add readme files
  themes/_1-2-1-2-column/README.md
  themes/_1-2-1-column/README.md
  themes/_1-2-column/README.md
  themes/_1-3-1-3-column/README.md
  themes/_1-3-column/README.md
  themes/_connect-through-content/README.md
  themes/_educate/README.md
  themes/_gallery/README.md
  themes/_make-announcement/README.md
  themes/_showcase/README.md
  themes/_simple-text/README.md
  themes/_welcome/README.md
  themes/attract/README.md
  themes/creative/README.md
Labels: none

MTC-6443 Finalizing ReportSubscriberFunctionalTest so far that it works
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

[UI] Add underline to link within the CKEditor
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/editor.less
Labels: user-interface

add survey theme readme
  themes/_survey/README.md
Labels: none

Fix invalid paths in theme directory (needs an underscore)
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-1-2-1-2-column.json
  .github/workflows/gitsplit/theme-1-2-1-column.json
  .github/workflows/gitsplit/theme-1-2-column.json
  .github/workflows/gitsplit/theme-1-3-1-3-column.json
  .github/workflows/gitsplit/theme-1-3-column.json
  .github/workflows/gitsplit/theme-connect-through-content.json
  .github/workflows/gitsplit/theme-educate.json
  .github/workflows/gitsplit/theme-gallery.json
  .github/workflows/gitsplit/theme-make-announcement.json
  .github/workflows/gitsplit/theme-showcase.json
  .github/workflows/gitsplit/theme-simple-text.json
  .github/workflows/gitsplit/theme-welcome.json
Labels: none

Whoops, missed one!
  .github/workflows/gitsplit/theme-survey.json
Labels: none

Add new themes + trulypersonal which was missing.
  composer.json
  composer.lock
Labels: none

Add new themes
  composer.json
Labels: none

Updating minimum version for new themes
  themes/_1-2-1-2-column/composer.json
  themes/_1-2-1-column/composer.json
  themes/_1-2-column/composer.json
  themes/_1-3-1-3-column/composer.json
  themes/_1-3-column/composer.json
  themes/_connect-through-content/composer.json
  themes/_educate/composer.json
  themes/_gallery/composer.json
  themes/_make-announcement/composer.json
  themes/_showcase/composer.json
  themes/_simple-text/composer.json
  themes/_survey/composer.json
  themes/_welcome/composer.json
  themes/attract/composer.json
  themes/blank/composer.json
  themes/creative/composer.json
Labels: none

Composer update for all the new themes
  composer.lock
Labels: none

also updating the system themes list
  app/bundles/CoreBundle/Helper/ThemeHelper.php
Labels: none

Squashed commit of the following:
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/table.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Tests/Traits/ControllerTrait.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-interface, user-experience

MTC-6443 Improving code quality of ReportSubscriberFunctionalTest
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

removing bulk actions from table header
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
Labels: user-experience

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"
