Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

splitting toolbar actions in another file
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_actions.html.twig
Labels: user-experience

migrating bulk actions to a file
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_bulk_actions.html.twig
Labels: user-experience

updating variable name to make devs life easier
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: assets, campaigns, categories, dynamic content, email, forms, landing pages, notifications, points-scoring, reports, roles, sms, stages, user-experience

removing include template from page actions
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: assets, campaigns, categories, dynamic content, email, forms, landing pages, notifications, points-scoring, reports, roles, sms, stages, user-experience

moving bulk actions to toolbar: themes
  app/bundles/CoreBundle/Resources/views/Theme/index.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
Labels: user-experience

moving bulk actions to toolbar: dwc
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/_list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
Labels: dynamic content, user-experience

moving bulk actions to toolbar: contacts
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_list.html.twig
Labels: user-experience

moving bulk actions to toolbar: forms
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
Labels: forms, user-experience

Revert "removing bulk actions from table header"
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
Labels: user-experience

selectively showing bulk actions on table header
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
Labels: user-experience

moving bulk actions to toolbar: assets
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
Labels: assets, user-experience

moving bulk actions to toolbar: campaigns
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
Labels: campaigns, user-experience

moving bulk actions to toolbar: companies
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
Labels: user-experience

moving bulk actions to toolbar: custom fields
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
Labels: user-experience

moving bulk actions to toolbar: segments
  app/bundles/LeadBundle/Resources/views/List/_list.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
Labels: user-experience

moving bulk actions to toolbar: mobile notif
  app/bundles/NotificationBundle/Resources/views/MobileNotification/_list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
Labels: notifications, user-experience

moving bulk actions to toolbar: web notif
  app/bundles/NotificationBundle/Resources/views/Notification/_list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
Labels: notifications, user-experience

moving bulk actions to toolbar: landing page
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
Labels: landing pages, user-experience

moving bulk actions to toolbar: point grp
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
Labels: points-scoring, user-experience

moving bulk actions to toolbar: point act
  app/bundles/PointBundle/Resources/views/Point/_list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
Labels: points-scoring, user-experience

moving bulk actions to toolbar: point trgg
  app/bundles/PointBundle/Resources/views/Trigger/_list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
Labels: points-scoring, user-experience

moving bulk actions to toolbar: report
  app/bundles/ReportBundle/Resources/views/Report/_list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
Labels: reports, user-experience

moving bulk actions to toolbar: focus
  plugins/MauticFocusBundle/Resources/views/Focus/_list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
Labels: user-experience

moving bulk actions to toolbar: social monit
  plugins/MauticSocialBundle/Resources/views/Monitoring/_list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
Labels: user-experience

moving bulk actions to toolbar: tweet
  plugins/MauticSocialBundle/Resources/views/Tweet/_list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
Labels: user-experience

moving bulk actions to toolbar: tags
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: user-experience

removing conditions from toolbar
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_bulk_actions.html.twig
Labels: user-experience

removing creepy btn selectors
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: user-interface

creating a new location in buttonhelper
  app/bundles/CoreBundle/Twig/Helper/ButtonHelper.php
Labels: none

fixing size for search button
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-experience

toolbar styles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/panels.less
  app/bundles/CoreBundle/Assets/css/app/less/components/toolbar.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
Labels: user-interface

updating JS to work with the new toolbar
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
Labels: none

adding counter of selected items
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations

polishing translation strings
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations

changing location for export csv button
  app/bundles/LeadBundle/EventListener/ButtonSubscriber.php
Labels: none

file for toolbar bulk actions
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_bulk_actions.html.twig
Labels: user-experience

placing everything in the main toolbar template
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
Labels: user-experience

updating the classes for delete buttons
  app/bundles/CoreBundle/Resources/views/Helper/confirm.html.twig
Labels: user-experience

polishing template
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_bulk_actions.html.twig
Labels: user-experience

phpunit?
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
Labels: user-experience

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"
