Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"

move PRE_SUBMIT listener under event type condition, remove allow_extra_fields
  app/bundles/CampaignBundle/Form/Type/EventType.php
Labels: campaigns

fix: [DPMMA-2888] correct method PUT
  app/bundles/FormBundle/Controller/Api/FormApiController.php
Labels: forms

Update InputHelper.php
  app/bundles/CoreBundle/Helper/InputHelper.php
Labels: none

Fixing the best send hour widget
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: dashboard, email

Fixing the best send hour widget
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: dashboard, email

responsive screen fixes
  app/bundles/CoreBundle/Resources/views/Helper/confirm.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_bulk_actions.html.twig
Labels: user-experience

EventRepository::getContactPendingEvents() considers campaign's publishUp and publishDown fields
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Entity/EventRepository.php
  app/bundles/CampaignBundle/Tests/Entity/EventRepositoryFunctionalTest.php
Labels: campaigns
