Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"

Button template
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
Labels: user-experience

Refactoring button with template: Back to event selection panel
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_event_list.html.twig
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
Labels: campaigns, translations, user-experience

Button template
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
Labels: user-experience

Refactoring button with template: Campaign builder jump actions
  app/bundles/CampaignBundle/Resources/views/Event/jump.html.twig
Labels: campaigns, user-experience

Refactoring button with template: Campaign clone panel
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_index.html.twig
Labels: campaigns, user-experience

Refactoring button with template: Campaign builder events actions
  app/bundles/CampaignBundle/Resources/views/Event/_generic.html.twig
Labels: campaigns, user-experience

Refactoring button with template: Campaign events panel
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_index.html.twig
Labels: campaigns, user-experience

bug: no padding on condition and decisions blocks campaign builder
  app/bundles/CampaignBundle/Resources/views/Event/_generic.html.twig
Labels: campaigns, user-experience

Refactoring button with template: Back to event selection panel
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_event_list.html.twig
Labels: campaigns, user-experience

Refactoring button with template: Campaign builder source actions
  app/bundles/CampaignBundle/Resources/views/Source/_index.html.twig
Labels: campaigns, user-experience

Refactoring button with template: Campaign builder actions
  app/bundles/CampaignBundle/Resources/views/Campaign/_builder.html.twig
Labels: campaigns, user-experience

Refactoring button with template: Browse Remote Files
  app/bundles/AssetBundle/Resources/views/Asset/form.html.twig
Labels: assets, user-experience

Refactoring button with template: List actions
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Resources/views/Helper/list_actions.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-experience

Refactoring button with template: Select type (email, form...)
  app/bundles/CoreBundle/Resources/views/Helper/form_selecttype.html.twig
Labels: user-experience

Resetting to default look while we are not sure re UI style
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/brand.less
  app/bundles/CoreBundle/Assets/css/app/less/components/button-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: user-interface

auto button type
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
Labels: user-experience

Refactoring button with template: Update Mautic notification
  app/bundles/CoreBundle/Resources/views/Notification/notification_messages.html.twig
Labels: user-experience

Refactoring button with template: Variant index
  app/bundles/CoreBundle/Resources/views/Variant/index.html.twig
Labels: user-experience

Refactoring button with template: Close notification
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Resources/views/Notification/notification.html.twig
Labels: user-interface, user-experience

Refactoring button with template: Remove DWC filter
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/DynamicContentBundle/Resources/views/FormTheme/Filter/layout.html.twig
Labels: dynamic content, user-experience

Refactoring button with template: Update schema
  app/bundles/CoreBundle/Resources/views/Update/schema.html.twig
Labels: user-experience

Refactoring button with template: Apply the default dashboard
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
Labels: dashboard, translations, user-experience

Refactoring button with template: Updates screen
  app/bundles/CoreBundle/Resources/views/Update/index.html.twig
Labels: user-experience

Refactoring button with template: Make variant winner (A/B)
  app/bundles/CoreBundle/Resources/views/Variant/row.html.twig
Labels: user-experience

Refactoring button with template: Search or clear field
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-experience

Refactoring button with template: Clear all notifications
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Resources/views/Notification/notifications.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-interface, user-experience

Refactoring button with template: Select email theme
  app/bundles/CoreBundle/Resources/views/Helper/theme_select.html.twig
Labels: user-experience

Refactoring button with template: Preview email in new tab
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: email, translations, user-experience

Refactoring button with template: Form details embed options
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
Labels: forms, user-experience

Refactoring button with template: Contacts import
  app/bundles/LeadBundle/Resources/views/Import/progress.html.twig
Labels: user-experience

When icon-only, tooltip on icon instead of btn
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
Labels: user-experience

Refactoring button with template: Integration auth II
  app/bundles/IntegrationsBundle/Resources/views/Config/form.html.twig
Labels: integrations, user-experience

fix for notes border radius
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/notes.less
Labels: user-interface

Refactoring button with template: Remove form builder row and edit
  app/bundles/FormBundle/Resources/views/Builder/_actions.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: forms, translations, user-experience

Refactoring button with template: New dynamic content for code mode email edit
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
Labels: email, user-interface, user-experience

fix for variants border
  app/bundles/CoreBundle/Resources/views/Variant/index.html.twig
Labels: user-experience

Refactoring button with template: Edit and remove contact note
  app/bundles/LeadBundle/Resources/views/Note/note.html.twig
Labels: user-experience

remove unusable highlight for timeline rows
  app/bundles/LeadBundle/Assets/css/lead.css
Labels: user-interface

Refactoring button with template: View contact in dashboard widget upcoming
  app/bundles/DashboardBundle/Resources/views/Dashboard/upcomingemails.html.twig
Labels: dashboard, user-experience

making help dropdown a dropup
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
Labels: user-interface, user-experience
