Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"

Refactoring button with template: Integration auth
  app/bundles/IntegrationsBundle/Resources/views/Auth/authenticated.html.twig
Labels: integrations, user-experience

fixing color for text-info class
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
Labels: user-interface

Refactoring button with template: Add note for contact
  app/bundles/LeadBundle/Resources/views/Note/list.html.twig
Labels: user-experience

removing send example from primary buttons on email details
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: email, user-experience

fixing button colors + spacing edge cases
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
Labels: user-interface

reordering notification panel
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
Labels: user-experience

Refactoring button with template: Delete new dynamic content email code mode edit
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/FormTheme/Email/layout.html.twig
Labels: dynamic content, email, translations, user-experience

Refactoring button with template: Reset learning experience
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
Labels: roles, user-experience

Refactoring button with template: Contact timeline icon
  app/bundles/LeadBundle/Resources/views/Timeline/plugin_list.html.twig
Labels: user-experience

Refactoring button with template: Preview webhook
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
Labels: user-experience, webhooks

Refactoring button with template: Preview landing pages
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
Labels: landing pages, user-experience

fix missing border radius for asset dropzone
  app/bundles/AssetBundle/Assets/css/asset.css
Labels: assets, user-interface

adding flash message to confirm learning reset
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Translations/en_US/javascript.ini
Labels: translations, user-interface

automatic id for buttons
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
Labels: user-experience

fixing missing attributes on mixin
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
Labels: user-interface

Revert "Updating functionality to avoid issues with modals"
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Resources/views/Notification/inline_notification.html.twig
Labels: user-experience

Revert "bug: no padding on condition and decisions blocks campaign builder"
  app/bundles/CampaignBundle/Resources/views/Event/_generic.html.twig
Labels: campaigns, user-experience

Revert "remove unusable highlight for timeline rows"
  app/bundles/LeadBundle/Assets/css/lead.css
Labels: user-interface

bug: no padding on condition and decisions blocks campaign builder
  app/bundles/CampaignBundle/Resources/views/Event/_generic.html.twig
Labels: campaigns, user-experience

remove unusable highlight for timeline rows
  app/bundles/LeadBundle/Assets/css/lead.css
Labels: user-interface

Updating functionality to avoid issues with modals
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Resources/views/Notification/inline_notification.html.twig
Labels: user-experience

adding flash message to confirm learning reset
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Translations/en_US/javascript.ini
Labels: translations, user-interface

Refactoring button with template: Login
  app/bundles/UserBundle/Resources/views/Security/login.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: roles, translations, user-experience

Revert "Resetting to default look while we are not sure re UI style"
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/brand.less
  app/bundles/CoreBundle/Assets/css/app/less/components/button-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: user-interface

improving layout for page header
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
Labels: user-experience

Fixing failing test, simplifying, removing debug echo
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/DateHelperTest.php
Labels: none

build: [DPMMA-2894] grapesjs build
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
Labels: none

Minify does not notify the minified file is missing.
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: none

adding back to index button
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Resources/views/Default/content.html.twig
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-interface, user-experience

Switching close to indexButton: Campaign
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
Labels: campaigns, user-experience

Switching close to indexButton: Asset
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
Labels: assets, user-experience

Switching close to indexButton: Email
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: email, user-experience

Switching close to indexButton: Form
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
Labels: forms, user-experience

Switching close to indexButton: Landing pages
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
Labels: landing pages, user-experience

Add missing close indexButton: Webhooks
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
Labels: user-experience, webhooks

Switching close to indexButton: Dynamic Content
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
Labels: dynamic content, translations, user-experience

Adding fallback to template
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-experience

Switching close to indexButton: Segment
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
Labels: user-experience

Switching close to indexButton: Marketplace
  app/bundles/MarketplaceBundle/Resources/views/Package/detail.html.twig
  app/bundles/MarketplaceBundle/Translations/en_US/messages.ini
Labels: marketplace, translations, user-experience

Switching close to indexButton: Web notification
  app/bundles/NotificationBundle/Resources/views/Notification/details.html.twig
Labels: notifications, user-experience
