Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

It can either be a dev container or test. Not both. Choosing dev
  rector-older-symfony.php
Labels: none

Running `composer fixcs`
  app/bundles/AssetBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/CampaignBundle/Command/CampaignDeleteEventLogsCommand.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerTest.php
  app/bundles/CoreBundle/Command/AnonymizeIpCommand.php
  app/bundles/CoreBundle/Tests/Functional/Controller/FileControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/JsControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/UpdateControllerTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailSendFunctionalTest.php
  app/bundles/EmailBundle/Tests/EventListener/BuilderSubscriberFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/IntegrationsBundle/Command/CleanupCommand.php
  app/bundles/LeadBundle/Field/Command/AnalyseCustomFieldCommand.php
  app/bundles/LeadBundle/Field/Command/UpdateCustomFieldCommand.php
  app/bundles/LeadBundle/Tests/Controller/Api/DeviceApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
Labels: assets, campaigns, email, forms, integrations

Prod code changes from `bin/rector --config=rector-older-symfony.php`
  app/bundles/CampaignBundle/Command/CampaignDeleteEventLogsCommand.php
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CoreBundle/Tests/Unit/Command/src/FakeModeratedCommand.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Entity/Stat.php
  app/bundles/IntegrationsBundle/Command/CleanupCommand.php
  app/bundles/LeadBundle/Field/Command/AnalyseCustomFieldCommand.php
  app/bundles/LeadBundle/Field/Command/UpdateCustomFieldCommand.php
  app/bundles/LeadBundle/Form/Type/HtmlType.php
Labels: campaigns, email, integrations

Test changes from `bin/rector --config=rector-older-symfony.php`
  app/bundles/ApiBundle/Tests/Functional/Oauth2Test.php
  app/bundles/AssetBundle/Tests/Controller/Api/AssetApiControllerFunctionalTest.php
  app/bundles/AssetBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Controller/Api/CampaignApiControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerTest.php
  app/bundles/CampaignBundle/Tests/Controller/SourceControllerTest.php
  app/bundles/CampaignBundle/Tests/EventListener/CampaignActionJumpToEventSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/DetailsTest.php
  app/bundles/CampaignBundle/Tests/Functional/Form/Validator/Constraints/InfiniteLoopValidatorFunctionalTest.php
  app/bundles/ChannelBundle/Tests/Controller/Api/MessageApiControllerTest.php
  app/bundles/CoreBundle/Command/AnonymizeIpCommand.php
  app/bundles/CoreBundle/Tests/Functional/Controller/AjaxControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/FileControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/JsControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/UpdateControllerTest.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/RequestSubscriberTest.php
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailExampleFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailSendFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/PreviewFunctionalTest.php
  app/bundles/EmailBundle/Tests/EventListener/BuilderSubscriberFunctionalTest.php
  app/bundles/EmailBundle/Tests/Model/EmailStatModelTest.php
  app/bundles/EmailBundle/Tests/Validator/EmailOrEmailTokenListValidatorTest.php
  app/bundles/FormBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/FieldControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/DeviceApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/TagApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Tests/Form/Type/FilterTypeTest.php
  app/bundles/LeadBundle/Tests/Form/Type/HtmlTypeTest.php
Labels: api, assets, campaigns, channels, dashboard, dynamic content, email, forms

add github workflow to verify e2e tests
  .github/workflows/e2e-tests.yml
Labels: none

STAN fixes
  app/bundles/CampaignBundle/Tests/EventListener/CampaignActionJumpToEventSubscriberTest.php
  app/bundles/EmailBundle/Entity/Stat.php
Labels: campaigns, email

update BUG-REPORT:yml file
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: none

mark 5.0.x and 5.1.x as unsupported
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: none

fix: [DPMMA-2945] use hex colors in ckeditor
  app/bundles/CoreBundle/Assets/js/11.editor.js
Labels: none

add allow_extra_fields
  app/bundles/CampaignBundle/Form/Type/EventType.php
Labels: campaigns

#14327: Remove urlencode from checkboxgrp separator
  app/bundles/FormBundle/Helper/FormFieldHelper.php
Labels: forms

Regenerated PHPStan baseline.
  phpstan-baseline.neon
Labels: none

Regenerate phpstan-baseline.
  phpstan-baseline.neon
Labels: none

Add some tests for functionality that is not yet tested.
  app/bundles/UserBundle/Event/AuthenticationEvent.php
  app/bundles/UserBundle/Security/Authentication/Token/PluginToken.php
  app/bundles/UserBundle/Security/Authenticator/PluginAuthenticator.php
  app/bundles/UserBundle/Security/Authenticator/SsoAuthenticator.php
  app/bundles/UserBundle/Tests/Security/Authenticator/PluginAuthenticatorTest.php
  app/bundles/UserBundle/Tests/Security/Authenticator/SsoAuthenticatorTest.php
Labels: roles

Oauth2 authorize must display login page when token is not available.
  app/bundles/ApiBundle/Controller/oAuth2/AuthorizeController.php
  app/bundles/ApiBundle/Tests/Functional/Oauth2Test.php
  app/bundles/CoreBundle/Controller/CommonController.php
Labels: api

Mautic must check password strength for all authenticators.
  app/bundles/CoreBundle/Tests/Functional/Controller/ExportControllerTest.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerPermissionFunctionalTest.php
  app/bundles/LeadBundle/Tests/Functional/Controller/CompanyControllerTest.php
  app/bundles/LeadBundle/Tests/Functional/Controller/LeadControllerTest.php
  app/bundles/UserBundle/EventListener/PasswordStrengthSubscriber.php
  app/bundles/UserBundle/EventListener/PasswordSubscriber.php
  app/bundles/UserBundle/Security/Authenticator/SsoAuthenticator.php
  app/bundles/UserBundle/Tests/Controller/Api/UserApiControllerFunctionalTest.php
  app/bundles/UserBundle/Tests/EventListener/PasswordStrengthSubscriberTest.php
  app/bundles/UserBundle/Tests/Functional/UserLogoutFunctionalTest.php
  app/bundles/UserBundle/Tests/Security/Authenticator/SsoAuthenticatorTest.php
  plugins/MauticSocialBundle/Tests/Functional/Controller/MonitoringControllerTest.php
  plugins/MauticTagManagerBundle/Tests/Functional/Controller/TagControllerTest.php
Labels: dynamic content, forms, roles

Code review.
  app/bundles/UserBundle/Security/Authentication/Token/PluginToken.php
  app/config/security.php
Labels: roles

Controller get() should be avoided.
  app/bundles/UserBundle/Controller/SecurityController.php
Labels: roles

Change baseline for phpstan.
  phpstan-baseline.neon
Labels: none

Auth BC breaks documented
  UPGRADE-6.0.md
Labels: none

Conflict fix.
  composer.lock
Labels: none

refactor: Dynamically set HTTP method based on entity's existence in API controller
  app/bundles/ApiBundle/Controller/CommonApiController.php
Labels: api

MTC-6443 Solving problem in ci workflow
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
Labels: none

MTC-6443 Fixing problem in ReportSubscriberTest.php that occured after last changes
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: none

fix: disabled row hardcoded bg color
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
Labels: user-interface

fix: theme upload width
  app/bundles/CoreBundle/Resources/views/Theme/form.html.twig
Labels: user-experience

fix: delete emails routeBase
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
Labels: email, user-experience

fixing translation
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-experience

removing comment
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
Labels: user-experience

add grapesjstuiimageeditor plugin to init mjml/html email
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.service.js
Labels: none

regression: restoring list groups
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Variant/index.html.twig
  app/bundles/DashboardBundle/Resources/views/Dashboard/import.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: dashboard, forms, import-export, user-interface, user-experience

Undo BC breaks.
  app/bundles/CampaignBundle/EventCollector/Accessor/EventAccessor.php
  app/bundles/CampaignBundle/Tests/EventCollector/Accessor/EventAccessorTest.php
  app/bundles/ConfigBundle/Event/ConfigEvent.php
  app/bundles/ConfigBundle/Tests/Event/ConfigEventTest.php
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/LeadBundle/Entity/Import.php
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingService.php
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingServiceInterface.php
  app/bundles/PageBundle/Model/RedirectModel.php
  plugins/MauticCrmBundle/Integration/Salesforce/CampaignMember/Organizer.php
  plugins/MauticFocusBundle/Entity/Focus.php
  plugins/MauticFullContactBundle/Services/FullContact_API.php
Labels: campaigns, configuration, landing pages

Review check.
  app/bundles/EmailBundle/MonitoredEmail/Processor/Bounce/BouncedEmail.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  app/bundles/LeadBundle/Entity/Import.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldRepositoryFunctionalTest.php
Labels: email

Rector changes after rebase.
  app/bundles/EmailBundle/MonitoredEmail/Processor/Bounce/BouncedEmail.php
  app/bundles/LeadBundle/Entity/Import.php
Labels: email

PHPCS fixer after rebase.
  app/bundles/CampaignBundle/Tests/Membership/MembershipManagerTest.php
  app/bundles/ChannelBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/CoreBundle/Tests/Unit/Controller/AbstractFormControllerTest.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PageBundle/Tests/Model/Tracking404ModelTest.php
  app/bundles/PluginBundle/Tests/ConfigFormTest.php
  app/bundles/PluginBundle/Tests/Integration/AbstractIntegrationTestCase.php
  app/bundles/ReportBundle/Scheduler/Command/ExportSchedulerCommand.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
  app/bundles/SmsBundle/Tests/Sms/TransportChainTest.php
  plugins/MauticCrmBundle/Config/services.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticFocusBundle/Tests/Helper/IframeAvailabilityCheckerTest.php
Labels: campaigns, channels, email, forms, landing pages, plugin, reports, sms

Fixed tests.
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/PluginBundle/Tests/ConfigFormTest.php
  app/bundles/PluginBundle/Tests/Integration/AbstractIntegrationTestCase.php
  plugins/MauticFocusBundle/Tests/Helper/IframeAvailabilityCheckerTest.php
Labels: landing pages, plugin

Review check #3.
  .github/workflows/tests.yml
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Bounce/BouncedEmail.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
  app/bundles/PluginBundle/Tests/ConfigFormTest.php
  plugins/MauticSocialBundle/Entity/MonitoringRepository.php
Labels: email, plugin

Fix phpstan.
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: forms

Fix code review issues.
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerFunctionalTest.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
Labels: campaigns, landing pages

After rebase.
  app/bundles/IntegrationsBundle/Integration/ConfigurationTrait.php
  phpstan-baseline.neon
Labels: integrations

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"
