Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"

Add well-known file paths for all projects
  funding.json
Labels: none

Add well-known paths for each project
  funding.json
Labels: none

Fixing chosen for copied filters
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: none

fixing nav tabs bdr radius
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
Labels: user-interface

Adding layering model for 2 steps
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
Labels: user-interface

Resetting layering variables name
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
Labels: user-interface

Replacing old layering name
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/calendar.less
  app/bundles/CoreBundle/Assets/css/app/less/components/notes.less
  app/bundles/CoreBundle/Assets/css/app/less/components/panels.less
  app/bundles/CoreBundle/Assets/css/app/less/components/tiles.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/DashboardBundle/Assets/css/dashboard.css
Labels: dashboard, user-interface

bdr-r
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/brand.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: user-interface

[UI] Description template
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Resources/views/Helper/description.html.twig
Labels: user-interface, user-experience

fixing input btn last child border radius
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
Labels: user-interface

description styles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
Labels: user-interface

Fixing list group items bdr r
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
Labels: user-interface

Fixing copy icon alignment and border radius
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/1.core.js
Labels: user-interface

Applying description template
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_content_header.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/details.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/details.html.twig
Labels: campaigns, channels, dynamic content, forms, landing pages, reports, sms, user-experience, webhooks

Fixing dropdown items bdr r
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/dropdowns.less
Labels: user-interface

Fixing excessive bdr radius for code items
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
Labels: user-interface

Applying description template again for Assets
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
Labels: assets, user-experience

Revert "well, let's see what happens"
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: email

Revert "fix @markusVJH"
  themes/blank/html/email.html.twig
Labels: user-experience

renaming files
  themes/_1-2-1-2-column/html/email.html.twig
  themes/_1-2-1-column/html/email.html.twig
  themes/_1-2-column/html/email.html.twig
  themes/_1-3-1-3-column/html/email.html.twig
  themes/_1-3-column/html/email.html.twig
  themes/_connect-through-content/html/email.html.twig
  themes/_educate/html/email.html.twig
  themes/_gallery/html/email.html.twig
  themes/_make-announcement/html/email.html.twig
  themes/_showcase/html/email.html.twig
  themes/_simple-text/html/email.html.twig
  themes/_survey/html/email.html.twig
  themes/_welcome/html/email.html.twig
  themes/attract/html/email.html.twig
  themes/brienz/html/email.mjml.twig
  themes/confirmme/html/email.mjml.twig
Labels: user-experience

Fixing duplicates
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
Labels: dynamic content, landing pages, user-experience

fixing alerts bdr r
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
Labels: user-interface

Fixing input group btn bg color
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
Labels: user-interface

restoring panel classes in lists
  app/bundles/ApiBundle/Resources/views/Client/list.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Resources/views/Remote/browse.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/index.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/LeadBundle/Resources/views/Import/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/grid.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/index.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: api, assets, campaigns, categories, dynamic content, email, forms, landing pages, marketplace, notifications, plugin, points-scoring, reports, sms, stages, user-experience, webhooks

fixing input btns
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-interface, user-experience

Update app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
Labels: channels, user-experience

Revert "restoring panel classes in lists"
  app/bundles/ApiBundle/Resources/views/Client/list.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Resources/views/Remote/browse.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/index.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/LeadBundle/Resources/views/Import/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/grid.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/index.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: api, assets, campaigns, categories, dynamic content, email, forms, landing pages, marketplace, notifications, plugin, points-scoring, reports, sms, stages, user-experience, webhooks

upd
  app/bundles/ApiBundle/Resources/views/Client/list.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Resources/views/Remote/browse.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/index.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/LeadBundle/Resources/views/Import/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/grid.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/index.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: api, assets, campaigns, categories, dynamic content, email, forms, landing pages, marketplace, notifications, plugin, points-scoring, reports, sms, stages, user-experience, webhooks

add continous sending test
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
Labels: email

Updating to latest symfony 5.4
  app/composer.json
  composer.lock
Labels: none

Resolving "Symfony\Component\Mime\Exception\LogicException: An email must have a "To", "Cc", or "Bcc" header."
  app/bundles/EmailBundle/Mailer/Message/MauticMessage.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Helper/Transport/BatchTransport.php
Labels: email

`composer update twig/*` to upgrade to the secure Twig version
  composer.lock
Labels: none

fix-test : date added before email publication
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
Labels: email

Update URLs on funding.json and shorten descriptions
  funding.json
Labels: none

add todo
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
Labels: email

PHP
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/CoreBundle/Model/NotificationModel.php
  plugins/MauticClearbitBundle/Controller/PublicController.php
  plugins/MauticFullContactBundle/Controller/PublicController.php
Labels: assets

LESS/CSS
  LICENSE.txt
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/font-awesome.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/fonts/fontawesome-webfont.woff2
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/animated.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/bordered-pulled.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/core.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/fixed-width.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/icons.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/larger.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/list.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/mixins.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/path.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/rotated-flipped.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/screen-reader.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/stacked.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
Labels: user-interface

JS: fa fa-spinner
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CoreBundle/Assets/js/3.update.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/MauticFocusBundle/Assets/js/focus.js
Labels: campaigns

JS: fa-spin
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CoreBundle/Assets/js/3.update.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/MauticFocusBundle/Assets/js/focus.js
Labels: campaigns

JS: fa sizes
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  plugins/MauticFocusBundle/Assets/js/focus.js
Labels: campaigns
