Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

Switching close to indexButton: Report
  app/bundles/ReportBundle/Resources/views/Report/details.html.twig
Labels: reports, user-experience

Switching close to indexButton: SMS
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
Labels: sms, user-experience

Switching close to indexButton: Focus items
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
Labels: user-experience

Switching close to indexButton: Social monitoring
  plugins/MauticSocialBundle/Resources/views/Monitoring/details.html.twig
Labels: user-experience

Switching close to indexButton: Tags
  plugins/MauticTagManagerBundle/Resources/views/Tag/details.html.twig
Labels: user-experience

Switching close to indexButton: Mobile notif
  app/bundles/NotificationBundle/Resources/views/MobileNotification/details.html.twig
Labels: notifications, user-experience

Switching close to indexButton: Import
  app/bundles/LeadBundle/Resources/views/Import/details.html.twig
Labels: user-experience

Add missing close indexButton: Marketing messages
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
Labels: channels, user-experience

improving checkbox style
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
Labels: user-interface

Switching close to indexButton: Company
  app/bundles/LeadBundle/Resources/views/Company/company.html.twig
Labels: companies, user-experience

Switching close to indexButton: Contact
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
Labels: user-experience

improving ButtonHelper.php
  app/bundles/CoreBundle/Twig/Helper/ButtonHelper.php
Labels: none

Auto-update GrapesJS generated JS dist files
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
Labels: user-interface

Revert "removing send example from primary buttons on email details"
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: email, user-experience

Revert "making help dropdown a dropup"
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
Labels: user-interface, user-experience

Add data attribute to field type and allow resetField if multiple event listeners
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: none

Fix is unique identifier warning not showing when toggle is on
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: none

fixing publishStatus block to allow html
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
Labels: user-experience

tag twig template
  app/bundles/CoreBundle/Resources/views/Helper/_tag.html.twig
Labels: user-experience

Adding tags with template: Landing pages
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
Labels: landing pages, user-experience

tags for forms
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: forms, translations, user-experience

Adding tags with template: SMS
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: sms, translations, user-experience

Adding tags with template: Emails
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: email, user-experience

improving a/b translation
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations

Adding tags with template: Dynamic Content (including list icon)
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/_list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
Labels: dynamic content, translations, user-experience

Regenerated PHPStan baseline.
  phpstan-baseline.neon
Labels: none

feat: Add Docker Compose setup for Mautic development environment
  Makefile
  docker/Dockerfile
  docker/docker-compose.yml
  docker/php.ini
Labels: translations

Regenerate phpstan-baseline.
  phpstan-baseline.neon
Labels: none

Add some tests for functionality that is not yet tested.
  app/bundles/UserBundle/Event/AuthenticationEvent.php
  app/bundles/UserBundle/Security/Authentication/Token/PluginToken.php
  app/bundles/UserBundle/Security/Authenticator/PluginAuthenticator.php
  app/bundles/UserBundle/Security/Authenticator/SsoAuthenticator.php
  app/bundles/UserBundle/Tests/Security/Authenticator/PluginAuthenticatorTest.php
  app/bundles/UserBundle/Tests/Security/Authenticator/SsoAuthenticatorTest.php
Labels: roles

Add choice_filter attribute to field order
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: none

adding sending statuses
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
Labels: email, sms, translations, user-experience

dropping custom css in favor of class
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
Labels: user-experience

filled to line icon
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
Labels: user-experience

restoring page_actions
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
Labels: user-experience

making dropdown toggle symmetrical
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
Labels: user-experience

Revert "improving ButtonHelper.php"
  app/bundles/CoreBundle/Twig/Helper/ButtonHelper.php
Labels: none

tweaking button helper and page actions again
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
  app/bundles/CoreBundle/Twig/Helper/ButtonHelper.php
Labels: user-experience

fix test
  app/bundles/UserBundle/Tests/Functional/Controller/PublicControllerTest.php
Labels: roles

Update leadfield_order options when object changes
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Resources/views/Field/_field_order.html.twig
  app/bundles/LeadBundle/Resources/views/Field/form.html.twig
Labels: user-experience

Disable leadfield_order for fields that cannot be reordered
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: translations

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"
