Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"

Limit choice list based on leadfield_group too
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: none

Initialize tooltip
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: none

Order by fixed fields first on lead quick add form
  app/bundles/LeadBundle/Controller/LeadController.php
Labels: none

Fixing the "Is campaign based?" switch in DWC
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
Labels: user-experience

TASK: Removes deprecated `GenericPointSettingsType` for M6
  app/bundles/PointBundle/Form/Type/GenericPointSettingsType.php
Labels: points-scoring

Documenting the first M6 BC change
  UPGRADE-6.0.md
Labels: none

Add comment
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: none

Auth BC breaks documented
  UPGRADE-6.0.md
Labels: none

Add return value to setupOrderField
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: none

fix for active labels
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
Labels: user-experience

e2e
  tests/_support/Step/Acceptance/ContactStep.php
Labels: none

Removing some deprecated parts from the PageBundle
  UPGRADE-6.0.md
  app/bundles/PageBundle/Form/Type/PagePublishDatesType.php
  app/bundles/PageBundle/Helper/TrackingHelper.php
  app/bundles/PageBundle/Model/PageModel.php
Labels: landing pages

e2e II
  tests/_support/Page/Acceptance/SegmentsPage.php
Labels: none

fix: [DPMMA-2957] message queue orm issue
  app/bundles/ChannelBundle/Model/MessageQueueModel.php
  app/bundles/ChannelBundle/Tests/Command/ProcessMarketingMessagesQueueCommandFunctionalTest.php
  app/bundles/ChannelBundle/Tests/Model/MessageQueueModelTest.php
Labels: channels

fix config error and test
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
Labels: user-experience

again
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
Labels: user-experience

Revert "[UI] Tables"
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/table.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Helper/list_actions.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
Labels: user-interface, user-experience

Squashed commit of the following:
  app/bundles/ApiBundle/Translations/en_US/messages.ini
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CategoryBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/merge.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/NotificationBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PluginBundle/Translations/en_US/messages.ini
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Resources/views/Sms/index.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/SmsBundle/Translations/en_US/messages.ini
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: api, assets, categories, dynamic content, email, forms, landing pages, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-experience, webhooks

wip
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-interface, user-experience

MTC-6191 Improving logic in ReportSubscriber to get more useful data
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
Labels: none

feat: Add support for scheduling and continuing email sends to segments
  .ddev/commands/host/phpmyadmin
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Entity/FormEntity.php
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_icon.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/EventListener/BroadcastSubscriber.php
  app/bundles/EmailBundle/Form/Type/ScheduleSendType.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/EmailBundle/Resources/views/Email/schedule.html.twig
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/flashes.ini
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/migrations/Version20230927055621.php
Labels: email, translations, user-experience

[UX] Updating Blank theme to MJML
  themes/blank/html/base.html.twig
  themes/blank/html/email.html.twig
  themes/blank/html/message.html.twig
Labels: user-experience

[UI] bug: Changing bar color in focus items doesn't work
  plugins/MauticFocusBundle/Resources/views/Builder/Bar/index.html.twig
  plugins/MauticFocusBundle/Resources/views/Builder/content.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: user-experience

refactor: Adjust import order and formatting in EmailController and ScheduleSendType
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Form/Type/ScheduleSendType.php
Labels: email

refactor: Add missing imports for DateTimeHelper and related entities
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/EventListener/BroadcastSubscriber.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
Labels: email

style: Update publish status icons to use Remix icons
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_icon.html.twig
Labels: user-experience

refactor: Add EntityManager parameter to abtestAction and newAction methods
  app/bundles/EmailBundle/Controller/EmailController.php
Labels: email

fix @markusVJH
  themes/blank/html/email.mjml.twig
Labels: user-experience

MTC-6191 Applying static code analysis to new logic in ReportSubscriber
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberTest.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: translations

Adding missing tokens for emails
  app/bundles/EmailBundle/Resources/views/Tokens/tokens_help_bundle.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: email, translations, user-experience

well, let's see what happens
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: email

MTC-6280 Start to implement new logic including passing tags via request and duplicate check for new fields
  app/bundles/LeadBundle/Model/LeadModel.php
Labels: none

removing unused attributes from other templates
  themes/_1-2-1-2-column/html/email.mjml.twig
  themes/_1-2-1-column/html/email.mjml.twig
  themes/_1-2-column/html/email.mjml.twig
  themes/_1-3-1-3-column/html/email.mjml.twig
  themes/_1-3-column/html/email.mjml.twig
  themes/_connect-through-content/html/email.mjml.twig
  themes/_educate/html/email.mjml.twig
  themes/_gallery/html/email.mjml.twig
  themes/_make-announcement/html/email.mjml.twig
  themes/_showcase/html/email.mjml.twig
  themes/_simple-text/html/email.mjml.twig
  themes/_survey/html/email.mjml.twig
  themes/_welcome/html/email.mjml.twig
Labels: user-experience

Fix e2e for ContactManagementCest Batch set do not contact.
  tests/_support/Page/Acceptance/ContactPage.php
Labels: none

Revert "Fix e2e for ContactManagementCest Batch set do not contact."
  tests/_support/Page/Acceptance/ContactPage.php
Labels: none

Add functional test for ajax action updateLeadFieldOrderChoiceList
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
Labels: none

Updating UI for M5
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
Labels: user-interface, user-experience, widgets

Fixing JS after bad merge conflict res
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: none

Copy button for segment filters (#2187)
  app/bundles/DynamicContentBundle/Assets/js/dynamicContent.js
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: dynamic content, translations, user-interface, user-experience, widgets

Fixing tooltips when copying segment filters or creating new ones
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: none
