Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

moving page_actions to list_actions: role
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
Labels: roles, user-experience

moving page_actions to list_actions: user
  app/bundles/UserBundle/Resources/views/User/list.html.twig
Labels: roles, user-experience

moving page_actions to list_actions: tag
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: user-experience

moving page_actions to list_actions: category
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
Labels: categories, user-experience

toolbar page actions template
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_page_actions.html.twig
Labels: user-experience

custom styling for background
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-interface, user-experience

more styling fixes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
Labels: user-interface, user-experience

ensuring page wrappers are right
  app/bundles/ApiBundle/Resources/views/Client/list.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Resources/views/Remote/browse.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/index.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/LeadBundle/Resources/views/Import/list.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/grid.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/index.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: api, assets, campaigns, categories, dynamic content, email, forms, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, user-experience, webhooks

custom styling for background
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
Labels: user-interface, user-experience

more styling fixes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
Labels: user-interface

ensuring page wrappers are right
  app/bundles/ApiBundle/Resources/views/Client/list.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Resources/views/Remote/browse.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/index.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/LeadBundle/Resources/views/Import/list.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/grid.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/index.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: api, assets, campaigns, categories, dynamic content, email, forms, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, user-experience, webhooks

wip
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_page_actions.html.twig
Labels: user-interface, user-experience

improving & simplifying
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_page_actions.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
Labels: user-interface, user-experience

restoring support for card view
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
Labels: user-experience

missing core template that render mkt messages :)
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
Labels: user-experience

hash sensitive header data for logging
  app/bundles/PluginBundle/EventListener/IntegrationSubscriber.php
  app/bundles/PluginBundle/Helper/oAuthHelper.php
Labels: plugin

fix for select field filters @jos0405
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: none

fix close on click @jos0405
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: none

fix select filter not showing active filter when reopening
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: none

Added coverage
  app/bundles/PluginBundle/Tests/EventListener/IntegrationSubscriberTest.php
  app/bundles/PluginBundle/Tests/Helper/oAuthHelperTest.php
Labels: plugin

styling for active contacts live button @jos0405
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: user-interface

removing btn-yesno styles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: user-interface

Update app/bundles/PluginBundle/Tests/Helper/oAuthHelperTest.php
  app/bundles/PluginBundle/Tests/Helper/oAuthHelperTest.php
Labels: plugin

e2e
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_page_actions.html.twig
  tests/_support/Step/Acceptance/ContactStep.php
Labels: user-experience

Added basic authentication as well.
  app/bundles/PluginBundle/Helper/oAuthHelper.php
  app/bundles/PluginBundle/Tests/Helper/oAuthHelperTest.php
Labels: plugin

restoring search commands translation title
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations

Fixed cs
  app/bundles/PluginBundle/Tests/Helper/oAuthHelperTest.php
Labels: plugin

fixing input btn last child border radius
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
Labels: user-interface

Fixing excessive bdr radius for code items
  app/bundles/CoreBundle/Assets/css/app.css
Labels: user-interface

Removing broken automatic layering
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
Labels: user-interface

temporary workaround for layering in tab content
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
Labels: user-interface

giving up on modals with light gray bg
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: user-interface

add test for segment creation
  tests/_support/Page/Acceptance/SegmentsPage.php
  tests/_support/Step/Acceptance/SegmentStep.php
  tests/acceptance/SegmentManagementCest.php
Labels: none

fixing duplicate tags
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_page_actions.html.twig
Labels: user-experience

e2e
  tests/_support/Page/Acceptance/ContactPage.php
  tests/_support/Step/Acceptance/ContactStep.php
Labels: none

fix e2e test for EmailManagementCest.
  tests/_support/Page/Acceptance/EmailsPage.php
  tests/_support/Page/Acceptance/SegmentsPage.php
Labels: none

Merge pull request #2260 from acquia/MAUT-11747
  .gitignore
  app/assets/css/mediaelementplayer.css
  app/assets/scaffold/files/example.gitignore
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/gated_video.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  app/bundles/CoreBundle/Assets/js/11.editor.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/gatedvideo.js
  app/bundles/CoreBundle/Form/Type/GatedVideoType.php
  app/bundles/CoreBundle/Tests/Functional/Type/GatedVideoTypeTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Helper/AssetsHelper.php
  app/bundles/DynamicContentBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  app/bundles/PageBundle/Resources/views/Page/preview_header.html.twig
  plugins/GrapesJsBuilderBundle/Demo/mautic/full.html
Labels: dynamic content, landing pages, translations, user-interface, user-experience

Also removing the gated video slot
  app/bundles/CoreBundle/Resources/views/Slots/gatedvideo.html.twig
Labels: user-experience

CS fix
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
Labels: landing pages

Removing the rest of the unused code
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: landing pages

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"
