Repository Techtoolscompany/Mautic, changes with the labels that .github/labeler.yml gives for each.
All labels: api, assets, campaigns, categories, channels, companies, configuration, dashboard, dynamic content, email, forms, import-export, installation, integrations, landing pages, marketplace, notifications, plugin, points-scoring, reports, roles, sms, stages, translations, user-interface, user-experience, webhooks, widgets

.github/labeler.yml:

api:
  - "app/bundles/ApiBundle/**"
  
assets:
  - "app/bundles/AssetBundle/**"
  
campaigns:
  - "app/bundles/CampaignBundle/**"
  
categories:
  - "app/bundles/CategoryBundle/**"
  
channels:
  - "app/bundles/ChannelBundle/**"
  
companies:
  - "**/*company*"
  
configuration:
  - "app/bundles/ConfigBundle/**"
  
dashboard:
  - "app/bundles/DashboardBundle/**"
  
dynamic content:
  - "app/bundles/DynamicContentBundle/**"
  
email:
  - "app/bundles/EmailBundle/**"
  
forms:
  - "app/bundles/FormBundle/**"
  
import-export:
  - "**/*import*"
  
installation:
  - "app/bundles/InstallBundle/**"
  
integrations:
  - "app/bundles/IntegrationsBundle/**"
  
landing pages:
  - "app/bundles/PageBundle/**"
  
marketplace:
  - "app/bundles/MarketplaceBundle/**"
  
notifications:
  - "app/bundles/NotificationBundle/**"
  
plugin:
  - "app/bundles/PluginBundle/**"
  
points-scoring:
  - "app/bundles/PointBundle/**"
  
reports:
  - "app/bundles/ReportBundle/**"
  
roles:
  - "app/bundles/UserBundle/**"
  
sms:
  - "app/bundles/SmsBundle/**"
  
stages:
  - "app/bundles/StageBundle/**"
  
translations:
  - "**/*.ini"
  
user-interface:
  - "**/*.less"
  - "**/*.css"
  
user-experience:
  - "**/*.twig"
  
webhooks:
  - "app/bundles/WebhookBundle/**"
  
widgets:
  - "**/*widget*"

MTC-6191 Starting with ReportSubscriber
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
Labels: none

MTC-6191 Adjust ReportSubscriber to make focus stats report work
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: translations

Add Truly Personal to composer.json
  composer.json
  composer.lock
Labels: none

MTC-6191 Adding tests and improving code quality via static code analysis
  .github/workflows/tests.yml
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: none

Refactor E2E tests to follow same standards (#14210)
  tests/_support/AcceptanceTester.php
  tests/_support/Page/Acceptance/CategoriesPage.php
  tests/_support/Page/Acceptance/EmailsPage.php
  tests/_support/Page/Acceptance/SegmentsPage.php
  tests/_support/Step/Acceptance/CampaignStep.php
  tests/_support/Step/Acceptance/EmailStep.php
  tests/_support/Step/Acceptance/SegmentStep.php
  tests/acceptance/ContactManagementCest.php
  tests/acceptance/EmailManagementCest.php
Labels: none

Update readme and devdocs link (#14207)
  .github/CONTRIBUTING.md
  .github/ci-files/composer.json
  README.md
  plugins/GrapesJsBuilderBundle/.github/CONTRIBUTING.md
Labels: none

MTC-6191 Reverting changes in .github/workflows/tests.yml so that merging with mautic/mautic won't cause problems
  .github/workflows/tests.yml
Labels: none

Update funding.json
  funding.json
Labels: none

chore: Add .aider* and .env to .gitignore
  .gitignore
  app/migrations/Version20201019100000.php
Labels: none

chore: update .gitignore
  .gitignore
Labels: none

MTC-6191 Changing queryBuilder in ReportSubscriber so that only clicks and views for channel focus items are added to the report
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
Labels: none

improve pending email icon
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
Labels: email, user-experience

improving layout for page header
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
Labels: user-experience

removing send example from primary buttons on email details
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: email, user-experience

fixing color for text-info class
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
Labels: user-interface

improving publishstatus icons
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_icon.html.twig
Labels: user-experience

reordering notification panel
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
Labels: user-experience

adding triggered/segment type labels in email details
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: email, translations, user-experience

restoring publishstatus labels
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-experience

making help dropdown a dropup
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
Labels: user-interface, user-experience

form style
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
Labels: user-interface

fixing last accessibility attribute
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-experience

shortening JS
  app/bundles/CoreBundle/Assets/js/6.forms.js
Labels: none

scheduling UX
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/calendar.less
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-interface, user-experience

restoring label
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: email, translations

changing all scheduling options
  app/bundles/AssetBundle/Resources/views/Asset/form.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/form.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/PageBundle/Resources/views/Page/form.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/form.html.twig
Labels: assets, channels, email, forms, landing pages, sms, translations, user-experience

ensuring we can set different labels
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: translations, user-experience

improving styles for datepicker input
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
Labels: user-interface

Improving sizes pattern
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: user-interface

Improving sizes pattern
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: user-interface

Button Twig template
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
Labels: user-experience

Improvements for buttons
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/spinning.less
Labels: user-interface

Refactoring button with template: Open asset in new tab
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: assets, translations, user-experience

Button template
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
Labels: user-experience

Updating functionality to avoid issues with modals
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Resources/views/Notification/inline_notification.html.twig
Labels: user-experience

Refactoring button with template: Browse Remote Files
  app/bundles/AssetBundle/Resources/views/Asset/form.html.twig
Labels: assets, user-experience

Revert "Improvements for buttons"
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/spinning.less
Labels: user-interface

Refactoring button with template: Export contact timeline
  app/bundles/LeadBundle/Resources/views/Timeline/_list_filter_form.html.twig
Labels: user-experience

Refactoring button with template: Auditlog export
  app/bundles/LeadBundle/Resources/views/Auditlog/_list.html.twig
Labels: user-experience

up asset link
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
Labels: assets, user-experience
